.home-tab
	margin: 0 0 30px
	padding: 0
	background: none
	border: none
	+bor-rad(0)
	justify-content: center
	.nav-item
		margin: 0
		padding: 0
		background: none
		border: none
		+bor-rad(0)
		+ .nav-item
			margin-left: 10px
		.nav-link
			+bor-rad(50px)
			border: none
			margin: 0
			padding: 5px 20px
			+fs(12rem)
			line-height: 20px
			font-weight: 600
			text-transform: uppercase
			background: none
			color: $main
			background: darken($white,6%)
			&.active
				background: $orange
				color: $white